
@import "tailwindcss";


:root {
  --primary-color: #ff5722;
  --primary-hover: #e64a19;
  --secondary-color: #2196f3;
  --text-color: #333;
  --light-bg: #f5f5f5;
  --dark-bg: #222;
  --card-bg: white;
  --success-color: #4caf50;
  --error-color: #f44336;
}

body {
  @apply bg-gray-100 text-gray-800;
}

a {
  @apply text-blue-500 no-underline;
}

* {
  @apply box-border;
}

